header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1C5D99;
    border-bottom: 2px solid #222222;
}

h1 {
    font-size: 40px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

a {
    margin-right: 15px;
    text-decoration: none;
    color: #EAF2EF;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #639FAB;
    padding: 5px;
    border-bottom: #222222;
}

.search-drop {
    display: flex;
    margin: 10px;
}

#search-by {
    margin: 0 10px;
}

.sort {
    background: #BBCDE5;
}

label {
    border-bottom: #222222;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.poke-cards {
    background: #BBCDE5;
    border: 1px solid #1C5D99;
    color: #222222;
    font-size: 20px;
    width: 45vw;
    height: 280px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

#pages {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 30px;
}

.radios {
    background: linear-gradient(#BBCDE5, #EAF2EF);
    padding: 10px;
}

#sort-text {
    font-size: 20px;
    padding: 10px 30px;
}

.card-img {
    border: 1px solid #1C5D99;
    margin: 2px;
    max-width: 97%;
    border-radius: 5px;
}

.card-top {
    display: flex;
    justify-content: center;
    max-height: 53%;
    max-width: 100%;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.attributes {
    line-height: 25px;
    margin: 0 5px;
}

.cards {
    grid-area: cards;
}

header {
    grid-area: header;
}

.search {
    grid-area: search;
}

.sort {
    grid-area: sort;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "search"
        "sort"
        "cards"
}

a,
.search,
.sort,
.cards {
    font-family: 'PT Sans', sans-serif;
}

.page-button {
    margin-left: 10px;
}

@media (min-width: 600px) {
    #container {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas:
            "header header header"
            "search search search"
            "sort cards cards"
            "sort cards cards";
    }

    .poke-cards {
        background: #BBCDE5;
        border: 1px solid #1C5D99;
        color: #222222;
        font-size: 20px;
        width: 45vw;
        max-width: 250px;
        height: 300px;
        margin: 0 0 10px 0;
        border-radius: 5px;
    }

    .search {
        border-bottom: 2px solid #1C5D99;
        justify-content: space-around;
        flex-direction: row;
    }

    .sort {
        border-right: 2px solid #1C5D99;
    }
}