header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1C5D99;
    border-bottom: 2px solid #222222;
}

h1 {
    font-size: 40px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

a {
    margin-right: 15px;
    text-decoration: none;
    color: #EAF2EF;
}