.search,
.sort,
.cards {
    font-family: 'PT Sans', sans-serif;
}

header { grid-area: header; }
.search { grid-area: search; }
.sort { grid-area: sort; }
.cards { grid-area: cards; }

@media (min-width: 600px){
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
        "header header header"
        "search search search"
        "sort cards cards"
        "sort cards cards";
    }

    .search {
        border-bottom: 2px solid #1C5D99;
    }

    .sort {
        border-right: 2px solid #1C5D99;
    }
}