.your-ma {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #639FAB;
    padding: 5px;
    border-bottom: #222222;
}

.search-drop {
    display: flex;
    margin: 10px;
}

#search-by {
    margin: 0 10px;
}